.m-calendar-detail {
    padding: 10px;

    ::-webkit-scrollbar {
        background-color: lightgray;
        border-radius: 5px;
        width: 5px;
        height: 10px;
        background-clip: padding-box;
    }

    // /*滚动条两端方向按钮*/
    // ::-webkit-scrollbar-button {
    //     background-color: pink;
    // }

    /*滚动条中间滑动部分*/
    ::-webkit-scrollbar-thumb {
        background-color: #a8a8a8;
        border-radius: 5px;
    }

    /*滚动条右下角区域*/
    ::-webkit-scrollbar-corner {
        background-color: red;
    }

    .el-dialog__body {
        max-height: 550px;
        overflow-y: auto;
        margin-right: 5px;
    }

    .u-add-btn {
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .u-date {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        font-style: italic;
    }

    .m-content {
        &-part {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
            .u-part-header {
                font-size: 16px;
                font-weight: 900;
            }

            .u-item {
                display: flex;
                align-items: center;
                height: 40px;
                .u-avatar {
                    .size(24px);
                    .mr(4px);
                }

                .u-desc {
                    cursor: pointer;
                    font-size: 14px;
                    flex: 1;
                    .break(3);
                }

                .u-actions {
                    display: none;
                }

                &:hover {
                    .u-actions {
                        display: block;
                    }
                }

                .u-del-btn {
                    margin-left: 10px;
                }
            }
        }
    }

    .u-form {
        .m-date {
            display: flex;
            gap: 20px;

            .u-date {
                width: 160px;
            }
        }

        .m-color-item {
            display: flex;
            align-items: center;

            .u-color-val {
                margin-right: 20px;
            }
        }

        .m-style {
            display: flex;
            align-items: center;
            gap: 20px;

            .u-label {
                margin-right: 10px;
            }
        }

        .m-links {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            .u-del-icon {
                font-size: 18px;
            }
        }
    }
}
