.m-calendar-item {
    font-size: 12px;
    height: calc(100% - 36px);
    .pr;
    .mt(5px);

    .u-link {
        .break;

        &.is-event {
            color: @purple;
        }
    
        &.is-activity {
            color: @pink;
        }
    }

    .u-date-count {
        .pa;
        right: 0;
        bottom: 0;
    }
}