.m-calendar-detail {
    ::-webkit-scrollbar {
        background-color: lightgray;
        border-radius: 5px;
        width: 5px;
        height: 10px;
        background-clip: padding-box;
    }

    /*滚动条中间滑动部分*/
    ::-webkit-scrollbar-thumb {
        background-color: #a8a8a8;
        border-radius: 5px;
    }

    /*滚动条右下角区域*/
    ::-webkit-scrollbar-corner {
        background-color: red;
    }

    .el-dialog__body {
        max-height: 550px;
        overflow-y: auto;
        margin-right: 5px;
    }

    .u-form {
        .m-date {
            display: flex;
            gap: 20px;

            .u-date {
                width: 160px;
            }
        }

        .m-color-item {
            display: flex;
            align-items: center;

            .u-color-val {
                margin-right: 20px;
            }
        }

        .m-style {
            display: flex;
            align-items: center;
            gap: 20px;

            .u-label {
                margin-right: 10px;
            }
        }

        .m-links {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            .u-del-icon {
                font-size: 18px;
            }
        }
    }
}

.m-calendar-detail-header {
    padding: 5px 15px 10px 15px;
}

.m-calendar-detail-title {
    font-size: 22px;
    margin: 15px 0;
    font-weight: 300;
    text-align: center;
}

.m-calendar-detail-add {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.m-calendar-detail-content {
    .m-content-part {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
        .u-part-header {
            font-size: 16px;
            font-weight: 900;
            .el-divider__text {
                background-color: rgb(250, 251, 252);
            }
            margin: 0 15px;
        }

        .u-count{
            color:#999;
            font-style: normal;
            .ml(3px);
        }

        .u-item {
            padding: 15px;
            .pointer;

            .u-primary {
                display: flex;
            }

            .u-author {
                .mr(4px);
            }

            .u-avatar,.u-icon {
                .size(24px);
                .db;
                .pr;
                top: 3px;
                .r(2px);
            }

            .u-icon{
                .mr(5px);
            }

            .u-desc {
                cursor: pointer;
                .fz(13px,2);
                flex: 1;
                .break(3);
                color: @color;
            }

            .u-actions {
                // display: none;
                // .x(right);
                .fz(12px);
                .mt(5px);
                margin-left: 18px;
                i {
                    .fz(16px);
                    .mr(3px);
                    .y(-2px);
                }
            }

            .u-action{
                .ml(10px);
                color:@purple;
                .pointer;
            }

            &:hover {
                background-color: @bg-gray;
            }

        }
    }
}
