.m-calendar-detail {
    padding: 10px;
    .u-add-btn {
        display: block;
        width: 100%;
        margin-top: 5px;
    }

    .u-form {
        .m-date {
            display: flex;
            gap: 20px;

            .u-date {
                width: 160px;
            }
        }

        .m-links {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            .u-del-icon {
                font-size: 18px;
            }
        }
    }
}