.v-calendar {
    display: flex;
    gap: 20px;
    .m-calendar-main {
        flex: 1;
    }
    .m-calendar-aside {
        width: 300px;
    }
    .m-calendar-year {
        display: flex;
        align-items: center;
        justify-content: center;

        .u-year {
            margin: 0 10px;
        }
    }

    .m-calendar-month {
        .mt(20px);
        text-align: center;

        .u-month {
            width: 80px;
        }
    }

    .m-calendar-content {
        width: 100%;
        .mt(24px);
        .m-calendar-week {
            display: flex;

            .u-week {
                flex: 1;
                text-align: center;
            }
        }

        .m-calendar-date {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            .mt(20px);

            .u-date {
                flex: 0 0 14.285%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: rgba(#3585de, 0.1);
                }

                &.u-other {
                    color: #ccc;
                }

                &.u-current {
                    color: #fff;
                    background: #2b4450;
                }

                &.u-today {
                    color: #3585de;
                }
            }
        }
    }
}