.m-main{
    padding:0;
}

@aside_width:320px;
.m-calendar {
    // display: flex;
    // gap: 20px;
    min-height: calc(100vh - @header-height - @bread-height - 80px);
    border-bottom:1px solid #eee;
}

.m-calendar-main {
    // flex: 1;
    padding:20px 20px;
    .mr(@aside_width);

    background-position: center top;
    background-repeat: no-repeat;
}
.m-calendar-aside {
    position: fixed;
    right:0;
    bottom:0;
    top:@header-height + @bread-height ;
    width: @aside_width;
    border-left:1px solid #eee;
    background-color:@bg-light;
}
@media screen and (min-width:2000px){
    .m-calendar-aside{
        width:@aside_width + 140px;
    }
    .m-calendar-main {
        .mr(@aside_width + 140px);
    }
}

.m-calendar-header{
    display: flex;
    justify-content: space-between;

    .u-time{
        display: flex;
    }
}

.m-calendar-year {
    display: flex;
    align-items: center;
    justify-content: center;

    .u-year {
        margin: 0 20px;
        .fz(62px);
        .bold;
        letter-spacing: 2px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .u-btn{
        border:none;
        background:none;
    }
}

.m-calendar-month {
    // background-color:rgba(255,255,255,0.1);
    text-align: center;
    .mt(20px);
    padding:10px 0;

    .u-month {
        width: 120px;
        background:none;
        border:none;
        .fz(16px);
        // font-family: '楷体';
        font-weight: 300;
        padding:0;

        .pr;
        &.active{
            .bold !important;
            color:@pink;
            // &::before{
            //     font-weight: normal;
            //     content : '~ ✿ ~';
            //     // transform: none;
            //     .pa;.lt(50%,35px);
            //     .ml(-21px);
            //     color:#ffa6d2;
            // }
        }
        &:after{
            content : '';
            .db;
            height:20px;
            border-right: 1px solid #ddd;
            transform: skew(-20deg);
            .pa;top:0px;left:100%;
        }
        &:last-child::after{
            .none;
        }
    }

    // .u-slogan{
    //     font-family: '楷体';
    //     .h(60px);
    //     .mb(20px);
    //     .fz(32px,60px);
    // }
}

.m-calendar-slogan{
    // .none;
    a{
        .db;
    }
    img{
        .auto(x);
        .db;
        .h(70px);
    }
}

.m-calendar-content {
    width: 100%;
    .mt(10px);
}

.m-calendar-week {
    display: flex;

    .u-week {
        flex: 1;
        text-align: center;
        color:#888;
    }

    background-color:@bg-light;
    padding:10px 10px;
}

.m-calendar-date {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    // .pt(20px);
    background-color:rgba(255,255,255,0.99);

    border-top:1px solid #eee;
    border-left:1px solid #eee;

    .u-date {
        flex: 0 0 14.285%;
        height: 160px;
        box-sizing: border-box;
        padding:10px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        cursor: pointer;
        border-right:1px solid #eee;
        border-bottom:1px solid #eee;

        &:hover {
            background: rgba(#3585de, 0.09);
        }

        &.u-other {
            color: #ccc;
        }

        &.u-current {
            background: rgba(#3585de, 0.05);
        }

        &.u-today {
            color: @pink;
            .bold;
        }
    }
}
