.search-result {
    .u-input {
        .mb(24px);
        .flex;
        align-items: center;

        &>.el-input {
            margin-right: 1.75rem;
        }
    }

    .quest-card,
    .result-head {
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 2fr 0.8fr 3fr 3fr;
        justify-items: center;
        align-items: center;
    }

    .quest-card{
        &.current {
            border: 2px solid #909399;

            &:hover {
                border: 3px solid #909399;
            }
        }
    }

    .result-head {
        font-weight: bold;
        height: 2rem;
        margin-bottom: 32px;
        border-bottom: 1px dashed #d7dae2;
        column-gap: 8px;
        color:#666;
    }

    .el-divider__text{
        color:#666 !important;
        .fz(12px) !important;
        font-weight: normal;
    }
}
