.m-wiki-panel {
	.fz(14px,1.6);
	.mt(10px);
	.m-title {
		.flex;
		justify-content: space-between;
		padding: 10px;
		color: #6c645c;
		margin: 0 0 15px 0;
		border-bottom: 1px solid #eee;
		.u-title-right {
			.pointer;
		}
	}
	.m-panel {
		margin: 0 20px;
	}
}

.m-entry {
	.flex;
	.u-entry {
		.mr(20px);
		.db;
		.r(4px);
		.color(#fff);
		padding: 8px 20px;
		background-color: #3a97eb;
		i {
			.mr(5px);
		}
		&:hover {
			filter: brightness(110%);
		}
	}
}

.m-guide {
	.flex;
	background-color: #fff;
	border: 1px solid #e1e4e8;
	.u-guide {
		width: 34%;
		border-right: 1px solid #eee;
		&:last-child {
			border-right: 0;
		}
		.u-title {
			.x;
			.lh(40px);
			.bold;
			background-color: #fafbfc;
			border-bottom: 1px solid #eee;
		}
		.u-list {
			.flex;
			.fz(13px);
			flex-wrap: wrap;
			padding: 20px;
			.u-label {
				flex-shrink: 0;
				min-width: 30%;
				.mb(5px);
				.mr(10px);
				.color(#0366d6,@pink);
				span {
					color: #888;
					margin-left: 5px;
					font-size: 12px;
				}
			}
		}
	}
}

.m-hot {
	.flex;
	.size(100%,66px);
	.u-hot {
		.size(33.3%,66px);
		.flex;
		.r(5px);
		.mr(20px);
		.mb(10px);
		padding: 8px 5px;
		flex-wrap: nowrap;
		box-sizing: border-box;
		border: 1px solid #d7dae1;
		border-left: 5px solid #3a97eb;
		background-color: #f5f7fa;

		&:nth-child(3n) {
			.mr(0);
		}
	}
	.u-icon {
		.size(48px);
		.mr(10px);
	}
	.u-content {
		.flex;
		flex-direction: column;
		justify-content: center;
		.color(@color);
		.u-desc {
			.fz(12px);
			opacity: 0.6;
		}
	}
}

.m-recent {
	.m-post {
		.fz(12px);
		.clip;
		padding: 15px 10px;
		border-bottom: 1px solid #ccc;
		&:last-child {
			border-bottom: none;
		}
		.u-icon {
			.dbi;
			.w(20px);
			.r(3px);
			vertical-align: middle;
		}
		.u-name {
			.dbi;
			.ml(8px);
			vertical-align: middle;
			&:not([href]) {
				color: #3d454d;
			}
		}
		.m-achievement {
			.mt(5px);
		}
		.u-author,
		.u-updated,
		.u-source,
		.u-remark {
            .mr(25px);
			display: inline-block;
			vertical-align: middle;
		}
		.u-updated {
			.fr;
			.mr(0);
			opacity: 0.75;
		}
		.u-remark {
			margin: 5px 0;
		}
		.u-excerpt {
			.db;
			.mt(6px);
			.lh(1.6);
			color: #999;
		}
	}
}
